#
# Ansible local config file
# See `/etc/ansible/ansible.cfg' for the global config file.
#
# Aaron LI
# 2018-02-12
#

[defaults]
inventory = ./inventory.yml
# Increase SSH startup timeout (default: 10s)
timeout = 30

# uncomment this to disable SSH key host checking
#host_key_checking = False

# If set, configures the path to the Vault password file as an alternative
# to specifying --vault-password-file on the command line.
# e.g., dd if=/dev/random count=1 bs=32 | openssl base64
vault_password_file = ./private/vault_pass

# don't like cows?  that's unfortunate.
# set to 1 if you don't want cowsay support or export ANSIBLE_NOCOWS=1
#nocows = 1

[ssh_connection]
pipelining = True

# SSH arguments to use
# Add 'IdentitiesOnly=yes'
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o IdentitiesOnly=yes
