{
    "server": ["::0", "0.0.0.0"],
    "server_port": {{ shadowsocks.server_port }},
    "password": "{{ shadowsocks.password }}",
    "method": "{{ shadowsocks.method }}",
    "timeout": 600,
    "fast_open": true,
    "reuse_port": true,
    "no_delay": true,
    "user": "nobody"
}
