#
# Settings shared across git-shell-commands scripts
#

# Directory to be exported by `cgit`
PUBLIC="{{ git.user.home }}/{{ git.public_dir }}"

# Settings for syncing repositories to GitHub
GITHUB_USER="{{ git.github.user }}"
GITHUB_API="{{ git.github.api }}"
GITHUB_URL="{{ git.github.url }}"
