{% set domain = "aaronly.me" %}
{% set domain_new = "liwt.net" %}
#
# Nignx/sites: aaronly.conf
# Redirect {{ domain }} to {{ domain_new }}
#
# Aaron LI
#

{% if domains_hascert[domain] %}
server {
    listen            443 ssl http2;
    listen       [::]:443 ssl http2;
    server_name  {{ domain }}  *.{{ domain }};

    # SSL/TLS Certificate kindly provided by Let's Encrypt
    ssl_certificate      /usr/local/etc/ssl/acme/{{ domain }}/fullchain.pem;
    ssl_certificate_key  /usr/local/etc/ssl/acme/private/{{ domain }}.pem;

    return  301  $scheme://{{ domain_new }}$request_uri;
}
{% endif %}
