#
# /usr/local/etc/postfix/virtual
# Postfix: $virtual_alias_maps
#
# Link alias e-mail addresses to real e-mail addresses.
#
# Aaron LI
#

#======#
# NOTE #  Once modified this file, run "postmap" on it!
#======#

# NOTE
# ----
# Virtual alias domains are used for forwading email from an email
# address to one or more other email addresses.  They cannot receive
# and save email, but only forward email somewhere else.
# The $virtual_alias_maps mapping contains forwarding (source,
# destination) of users or domains to other email addresses or entire
# domains.  This maps can return multiple right-hand side
# destinations (to forward to) for one left-hand side source, therefore
# one can forward copies of an email to several recipients.
#
# Credit: https://workaround.org/ispmail/wheezy/virtual-domains
#

# alias mail address            | local address for virtual(8) delivery
# ---------------------------------------------------------------------
{% set mydomain = mail.domains[0] %}
{% for domain in mail.domains %}
# [domain: {{ domain }}]
{% for user in mail.userdb %}
# (user: {{ user.name }})
{{ user.name }}@{{ domain }}		{{ user.name }}@{{ mydomain }}
# aliases (if any)
{% for alias in user.aliases|default([]) %}
{{ alias }}@{{ domain }}		{{ user.name }}@{{ mydomain }}
{% endfor %}
{% endfor %}
{% endfor %}
