#
# /usr/local/etc/postfix/virtual-users
# Postfix: $virtual_mailbox_maps
#
# Lookup table with all valid recipient addresses for virtual(8)
# delivery.
#
# Aaron LI
#

#======#
# NOTE #  Once modified this file, run "postmap" on it!
#======#

# NOTE:
# The lookup result (i.e., the right column) is ignored since we are
# using a non-Postfix delivery agent ($virtual_transport = dovecot).

# Address                               | (ignored)
# ---------------------------------------------------------------------
{% set mydomain = mail.domains[0] %}
{% for user in mail.userdb %}
{{ user.name }}@{{ mydomain }}		OK
{% endfor %}
