#
# /usr/local/etc/dovecot/passwd
# Dovecot authentication database in passwd-file format.
#
# Format:
# user:password:uid:gid:(gecos):home:(shell):extra_fields
#
# Aaron LI
#

{% set mydomain = mail.domains[0] %}
{% for domain in mail.domains %}
# [domain: {{ domain }}]
{% for user in mail.userdb %}
{% set name = user.name %}
# (user: {{ name }})
{{ name }}@{{ domain }}:{{ passdb[name].pass }}::::::user={{ name }}@{{ mydomain }}
{% for dev in user.devices|default([]) %}
{{ name }}@{{ domain }}@{{ dev }}:{{ passdb[name].devices[dev] }}::::::user={{ name }}@{{ mydomain }}
{% endfor %}{# devices #}
{% if user.name != "root" and "aliases" in user %}
# aliases
{% for alias in user.aliases|default([]) %}
{{ alias }}@{{ domain }}:{{ passdb[name].pass }}::::::user={{ name }}@{{ mydomain }}
{% for dev in user.devices|default([]) %}
{{ alias }}@{{ domain }}@{{ dev }}:{{ passdb[name].devices[dev] }}::::::user={{ name }}@{{ mydomain }}
{% endfor %}{# devices #}
{% endfor %}{# alias #}
{% endif %}{# alias #}
{% endfor %}{# user #}
{% endfor %}{# domain #}
